<div class="row justify-content-center">
  <div class="col-6">
    <h1>Services#new</h1>
    <p>Find me in app/views/services/new.html.erb</p>
    <%= render 'form', service: @service %>
  </div>
</div>
