<div id="navbar-app">
  <div class="container">
    <div class="col-12">
      <%= link_to "Servicios", services_path, class: "btn menu-item" %>
      <%= link_to "Vehiculos", vehicles_path, class: "btn menu-item" %>
      <%= link_to "Conductores", drivers_path, class: "btn menu-item" %>
      <%= link_to "Rutas", routes_path, class: "btn menu-item" %>
    </div>
  </div>
</div>