<div id="navbar-app">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4 text-left">
        <strong class="logo">RoutesAPP</strong>
      </div>
      <div class="col-8 text-right">
        <%= link_to "Servicios", services_path, class: "btn menu-item" %>
        <%= link_to "Vehiculos", vehicles_path, class: "btn menu-item" %>
        <%= link_to "Conductores", drivers_path, class: "btn menu-item" %>
        <%= link_to "Rutas", routes_path, class: "btn menu-item" %>
      </div>
    </div>
  </div>
</div>