<div class="row">
  <div class="col-12">
    <h1>Rutas</h1>
    <p>Listado de todas las rutas planificadas.</p>
    <%= link_to 'Planificar nueva Ruta', new_route_path, class: 'btn btn-sm btn-dark mb-2' %>
  </div>
</div>