<div class="row">
  <div class="col-12">
    <h1>Agregar Nueva Ruta</h1>
    <p>En el siguiente formulario podrá gestionar los servicios y asignarlos a una nueva ruta. Tenga en cuenta que una ruta puede ser “freezer” o “general” y la carga deber corresponder a este mism parámetro. </p>
    <%= render 'routes/form', route: @route %>
  </div>
</div>
