<div class="row ">
  <div class="col-12">
    <h1>Flota de vehiculos</h1>
    <p>Listado de todos los vehiculos disponibles de la organización.</p>
    <%= link_to 'Agregar Vehiculo', new_vehicle_path, class: 'btn btn-sm btn-dark mb-2', remote: true %>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Patente</th>
        <th scope="col">Tipo de carga</th>
        <th scope="col">Conductor</th>
        <th scope="col">Capacidad Máxima</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody id="vehicle-table">
      <% if @vehicles.present?  %>
        <% @vehicles.each do |vehicle| %>
          <%= render "vehicle_tr", vehicle: vehicle %>

        <% end %>
        <% else %>
        <tr>
          <th colspan="4">
            No hay vehiculos registrados.
          </th>
        </tr>
      <%end  %>
      </tbody>
    </table>
    <%= render "partials/modal" %>
  </div>
</div>
