/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:500,600,700);

html {
  font-family: 'Open Sans', sans-serif !important;
}
#navbar-app {
  background-color: #009688;
  padding: 1em 0;
  margin-bottom: 2em;
  border-bottom: 3px solid #cddc3a;
  .menu-item {
    background-color: #343a40;
    border: 1px solid #3e3b3b;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
  }
  .logo {
    font-size: 1.8em;
    line-height: 32px;
    color: #CDDC39;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
  }
}